<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Computers</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<br>
<br>
<div class="row">
    <div class="col-10">
        <form action="#" th:action="@{/computers/convert}" method="post">
            <input type="submit" value="USD do PLN" onclick="savedList()" class="btn btn-warning btn-sm mb-2"/>
        </form>
        <form action="#" th:action="@{/computers/save-to-xml}" method="post">
            <input type="submit" value="Zapisz do XML" onclick="savedXml()" class="btn btn-info btn-sm mb-2"/>
        </form>
    </div>
</div>

</br>

<div>
    <form th:action="@{/computers/search}">
        <div><input style="width: 500px;" type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Wyszukaj..." required/></div>
        <button type="submit" class="btn btn-primary">Szukaj</button>
        <button type="button" class="btn btn-outline-primary" onclick="clearFilter()">Wyczyść</button>
    </form>
</div>

<br>

<span style="float:left;">
<form th:action="@{/computers/sort-name-asc}">
    <button type="submit" class="btn btn-dark">Po nazwie rosnąco</button>
</form>
</span>
<span style="float:left;">
<form th:action="@{/computers/sort-name-desc}">
    <button type="submit" class="btn btn-light">Po nazwie malejąco</button>
</form>
</span>
<span style="float:left;">
<form th:action="@{/computers/sort-date-asc}">
    <button type="submit" class="btn btn-dark">Po dacie rosnąco</button>
</form>
</span>
<span style="float:left;">
<form th:action="@{/computers/sort-date-desc}">
    <button type="submit" class="btn btn-light">Po dacie malejąco</button>
</form>
</span>

<div></div>

<table class="table table-striped table-hover">
    <thead class="table">
    <tr>
        <th style="background-color: #e3f2fd;" class="align-middle">Nazwa komputera</th>
        <th style="background-color: #e3f2fd;" class="align-middle">Data zaksięgowania</th>
        <th style="background-color: #e3f2fd;" class="align-middle">Koszt USD</th>
        <th style="background-color: #e3f2fd;" class="align-middle">Koszt PLN</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="computer: ${allComputers}">
        <td th:text="${computer.getComputerName()}"></td>
        <td th:text="${computer.getPostingDate()}"></td>
        <td th:text="${computer.getUsdCost()}"></td>
        <td th:text="${computer.getPlnCost()}"></td>
    </tr>
    </tbody>
</table>

<script>
    function savedList() {
        alert("Przekonwertowano USD do PLN!");
    };
</script>
<script>
    function savedXml() {
        alert("Zapisano do XML!");
    };
</script>

<script type="text/javascript">
    function clearFilter() {
        window.location = '/computers/search';
    }
</script>

</body>
</html>